-e git+https://github.com/datastax/python-driver.git@3.29.2#egg=cassandra-driver
# Used ccm version is tracked by cassandra-test branch in ccm repo. Please create a PR there for fixes or upgrades to new releases.
-e git+https://github.com/datastax/cassandra-ccm.git@converged-cassandra#egg=ccm
coverage
decorator
docopt
enum34
flaky
mock
pytest
parse
pycodestyle
psutil
